* {
  margin: 0;
  padding: 0;
  --pageBackgroundColor: #eef1ff;
  --actionsCanvasColor: #A3A5A5;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--pageBackgroundColor);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1em;
  background-color: var(--actionsCanvasColor);
  width: calc(100vw - 200px);
  height: 2vw;
  margin: 1em 0.25em;
  padding: 3px;
  border-radius: 2px;

}

.canvas {
  --canvasSize: 50;
  background: var(--actionsCanvasColor);
  width: calc(100vw - 200px);
  height: calc(100vh - 50px);
  display: grid;
  grid-template-columns: repeat(var(--canvasSize), 1fr);
  grid-template-rows: repeat(var(--canvasSize), 1fr);
  gap: 2px;
  padding: 3px;
  border-radius: 2px;
  margin-bottom: 1em;
}

label {
  color: #fff;
}

.resetBtn,
.colorInput,
.numberInput {
  padding: 0 1px;
  height: 25px;
  border: unset;
  border-radius: 3px;
}

.resetBtn,
.colorInput {
  cursor: pointer;
  width: 80px;
}

.numberInput {
  width: 150px;
}

.resetBtn:hover {
  box-shadow: 5px 5px #888888;
}

.resetBtn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


.numberInput:focus-visible,
.numberInput:hover {
  outline: black;
}

.pixel {
  --defaultBackgroundColor: #fff;
  cursor: pointer;
  background-color: var(--defaultBackgroundColor);
}

.author {
  align-self: flex-end;
  width: 8vw;
  margin-bottom: 1em;
}